apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: kvbinding
spec:
  type: bindings.postgresql
  version: v1
  metadata:
    - name: connectionString
      value: host=postgresql.default.svc.cluster.local user=postgres password=password port=5432 connect_timeout=10
        database=dapr
scopes:
  - producer-app