name: Build

on: 
  push:
    branches:
      - master
      - release-*
      - java_sdk_wip
    tags:
      - v*
    
  pull_request:
    branches: 
    - master
    - release-*
    - java_sdk_wip

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      JDK_VER: 13.0.x
      DAPR_RUNTIME_VER: 0.3.0
      OSSRH_USER_TOKEN: ${{ secrets.OSSRH_USER_TOKEN }}
      OSSRH_PWD_TOKEN: ${{ secrets.OSSRH_PWD_TOKEN }}
      GPG_KEY: ${{ secrets.GPG_KEY }}
      GPG_PWD: ${{ secrets.GPG_PWD }}
    steps:
    - uses: actions/checkout@v1
    - name: Set up OpenJDK ${{ env.JDK_VER }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ env.JDK_VER }}
    - name: Set up Dapr CLI
      run: wget -q https://raw.githubusercontent.com/dapr/cli/master/install/install.sh -O - | /bin/bash
    - name: Initialize Dapr runtime ${{ env.DAPR_RUNTIME_VER }}
      run: |
        sudo dapr init --runtime-version ${{ env.DAPR_RUNTIME_VER }}
        echo "Showing dapr version..."
        dapr --version
    - name: Clean up files
      run: mvn clean
    - name: Build sdk
      run: mvn compile
    - name: Unit-test
      run: mvn test
    - name: Integration-test
      run: mvn integration-test
    - name: Upload test report for sdk
      uses: actions/upload-artifact@master
      with:
        name: report-dapr-java-sdk
        path: sdk/target/jacoco-report/
    - name: Upload test report for sdk-actors
      uses: actions/upload-artifact@master
      with:
        name: report-dapr-java-sdk-actors
        path: sdk-actors/target/jacoco-report/
    - name: Packaging jars
      run: mvn package
    - name: Get pom parent version
      run: |
        PARENT_VERSION=$(mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec)
        echo "##[set-env name=PARENT_VERSION;]$PARENT_VERSION"
    - name: Is SNAPSHOT release ?
      if: contains(github.ref, "master") && contains(env.PARENT_VERSION, '-SNAPSHOT')
      run: echo "##[set-env name=DEPLOY_OSSRH;]true"
    - name: Is Release or RC version ?
      if: startswith(github.ref, 'refs/tags/v') && !contains(env.PARENT_VERSION, '-SNAPSHOT')
      run: echo "##[set-env name=DEPLOY_OSSRH;]true"
    - name: Publish to ossrh
      if: env.DEPLOY_OSSRH == 'true'
      run: |
        echo ${{ secrets.GPG_PRIVATE_KEY }} | base64 -d > private-key.gpg
        export GPG_TTY=$(tty)
        gpg --batch --import private-key.gpg
        mvn -V -B -Dgpg.skip=false -s settings.xml deploy
